.container {
  width: 100%;
  height: 80px;
  background: #fc5a5a;
  margin-bottom: 20px;
}
.headerTitle {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  color: #fff;
}
